In [1]:
import pymysql

In [3]:
mydb=pymysql.connect(
host='localhost',
user='root',
password='Gem28zel'
)
mycursor=mydb.cursor()

In [8]:
mycursor.execute('create database storemanagementsystem')

ProgrammingError: (1007, "Can't create database 'storemanagementsystem'; database exists")

In [7]:
mycursor.execute('show databases')
for x in mycursor:
    print(x)

('greenwayschoolmanagementsystem',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('storemanagementsystem',)
('sys',)
('world',)

In [9]:
mydb=pymysql.connect(
  host='localhost',
  user='root',
  password='Gem28zel',
  database='storemanagementsystem'
)
mycursor=mydb.cursor()

In [10]:
mycursor.execute('show tables')

0

In [15]:
mycursor.execute('create table Electronicdetails(id int not null primary key,ItemName varchar(255) not null,ItemSerial_Number varchar(10) not null,Itemtype varchar(255) not null,ItemBrand varchar(230) not null,ItemQuantity varchar(10) not null )')

0

In [23]:
sql = 'insert into Electronicdetails(ID,ItemName,ItemSerial_number,Itemtype,ItemBrand,ItemQuantity) values(%s,%s,%s,%s,%s,%s)'
values = [('1', 'Television','42CE890','Smart_Tv','Hisense','8'),
         ('2', 'Phones','34HY38904','Smart_phones','Tecno','8'),
          ('3', 'Electric Irons','45SE34524','Pressing Iron','LG','6'),
         ('4', 'Binatone 4 pro','25SS36754','Smart_Watch','Binatone','3'),
         ('5', 'Jam box','67ER23411','Music player','JBL','9'),
         ('6', 'Vida Dual game pad','80WT2342R','Gamer pad','Vivo','10'),
         ('7', 'G-Tab','23ERE2453','Tablet','Samsung','5'),
         ('8', 'Fly-Spy','34TY234W5','Drones','Hisense','22'),
         ('9', 'Liberty 4 pro','23WES345T','ear buds','Liberty','15'),
         ('10', 'Hp pavillion','TT2345W67','Laptop','Hp','12')]
mycursor.executemany(sql,values)
mydb.commit()

In [25]:
mycursor.execute('create table Weardetails(id int not null primary key,ItemName varchar(255) not null,ItemSerial_Number varchar(10) not null,Itemtype varchar(255) not null,ItemBrand varchar(230) not null,ItemQuantity varchar(10) not null )')

0

In [26]:
sql = 'insert into Weardetails(ID,ItemName,ItemSerial_number,Itemtype,ItemBrand,ItemQuantity) values(%s,%s,%s,%s,%s,%s)'
values = [('1', 'Black shirts','42CE890','Shirts','Gucci','8'),
         ('2', 'Baggy Trousers','34HY38904','Trousers','Tecno','8'),
          ('3', 'Balenciaga','45SE34524','Shoes','Nike','6'),
         ('4', 'Hppower','25SS36754','school bags','Eavas','3'),
         ('5', 'Foot wears ','67ER23411','socks','Polytech','9'),
         ('6', 'Black fits','80WT2342R','Belts','Louis Vuitton','10'),
         ('7', 'Bucket cap','23ERE2453','caps','Jordan','5'),
         ('8', 'Crocs','34TY234W5','Pams','Dolce and Gabbanna','22'),
         ('9', 'phone pouch','23WES345T','covers','Zara','15'),
         ('10', 'Hublos','TT2345W67','Watches','Rolex','12')]
mycursor.executemany(sql,values)
mydb.commit()

In [28]:
mycursor.execute('create table Phonedetails(id int not null primary key,ItemName varchar(255) not null,ItemSerial_Number varchar(10) not null,Itemtype varchar(255) not null,ItemBrand varchar(230) not null,ItemQuantity varchar(10) not null )')

0

In [29]:
sql = 'insert into Phonedetails(ID,ItemName,ItemSerial_number,Itemtype,ItemBrand,ItemQuantity) values(%s,%s,%s,%s,%s,%s)'
values = [('1', 'Pop 5 pro','42CE890','Android','Tecno','8'),
         ('2', 'Samsung A21','34HY38904','Android','Samsung','8'),
          ('3', 'Iphone 14','45SE34524','IoS','Apple','6'),
         ('4', 'Iphone Xr','25SS36754','IOS','Apple','3'),
         ('5', 'Spark 8 c','67ER23411','Android','Tecno','9'),
         ('6', 'Hot 10','80WT2342R','Android','Infinix','10'),
         ('7', 'Camon 19','23ERE2453','Android','Tecno','5'),
         ('8', 'S22 Ultra','34TY234W5','Android','Samsung','22'),
         ('9', 'Iphone 12 pro max','23WES345T','IOS','Apple','15'),
         ('10', 'Iphone 6+','TT2345W67','IOS','Apple','12')]
mycursor.executemany(sql,values)
mydb.commit()

In [30]:
mycursor.execute('create table Computerdetails(id int not null primary key,ItemName varchar(255) not null,ItemSerial_Number varchar(10) not null,Itemtype varchar(255) not null,ItemBrand varchar(230) not null,ItemQuantity varchar(10) not null )')

0

In [31]:
sql = 'insert into Computerdetails(ID,ItemName,ItemSerial_number,Itemtype,ItemBrand,ItemQuantity) values(%s,%s,%s,%s,%s,%s)'
values = [('1', 'Television','42CE890','Mac_Os','HiseNse','81'),
         ('2', 'AMD Ryzen 7 Pro','34HY38904','ThinkPad','Lenovo','28'),
          ('3', 'Elite book','45SE34524','Pavillion','Hp','26'),
         ('4', 'Mac_Os 2012','25SS36754','','Appple','31'),
         ('5', 'Mac_Os 2010','67ER23411','Mac_os','Apple','92'),
         ('6', 'Mac_Os 2020','80WT2342R','Mac_Os','Apple','18'),
         ('7', 'Pro book','23ERE2453','Intel','Samsung','45'),
         ('8', 'Core i5','34TY234W5','Intel','Dell','25'),
         ('9', 'note book','23WES345T','Intel','Asus','35'),
         ('10', 'Hp pavillion','TT2345W67','Ryzen','Hp','18')]
mycursor.executemany(sql,values)
mydb.commit()