In [2]:
import pymysql

In [3]:
mydb=pymysql.connect(
    host='localhost',
    user ='root',
    password='Gem28zel',
    database = 'schoolrecordmanagementsystem'
)
mycursor = mydb.cursor()

In [4]:
mycursor.execute('select count(famsize) from studentper')
for x in mycursor:
    print(x)

(247,)

In [6]:
mycursor.execute('select count(*) from studentper where Emotions = 2')
for x in mycursor:
    print(x)

(131,)

In [10]:
mycursor.execute('select count(distinct(age)) from studentper ')
for x in mycursor:
    print(x)

(6,)

In [11]:
mycursor.execute('select age,sex,Mjob,Fjob, count(*) from studentper group by age')
for x in mycursor:
    print(x)

(13, 'M', 'OTHER', 'OTHER', 84)
(12, 'F', 'at_home', 'OTHER', 69)
(11, 'F', 'HEALTH', 'ADMIN', 17)
(14, 'M', 'ADMIN', 'OTHER', 57)
(10, 'M', 'ADMIN', 'TEACHER', 6)
(15, 'F', 'HEALTH', 'ADMIN', 14)

In [12]:
mycursor.execute('select sum(JS11st) from studentper ')
for x in mycursor:
    print(x)

(Decimal('17127'),)

In [13]:
mycursor.execute('select sum(JS11st) from studentper where age >=14')
for x in mycursor:
    print(x)

(Decimal('4884'),)

In [14]:
mycursor.execute('select age, sum(JS11st) from studentper group by age ')
for x in mycursor:
    print(x)

(13, Decimal('5946'))
(12, Decimal('4740'))
(11, Decimal('1161'))
(14, Decimal('3941'))
(10, Decimal('396'))
(15, Decimal('943'))

In [15]:
mycursor.execute('select age,Fjob,sum(Js12nd) from studentper group by age ')
for x in mycursor:
    print(x)

(13, 'OTHER', Decimal('5933'))
(12, 'OTHER', Decimal('4804'))
(11, 'ADMIN', Decimal('1147'))
(14, 'OTHER', Decimal('4063'))
(10, 'TEACHER', Decimal('399'))
(15, 'ADMIN', Decimal('973'))

In [17]:
mycursor.execute('select Mjob,Fjob,sum(Js12nd) from studentper group by Mjob ')
for x in mycursor:
    print(x)

('OTHER', 'OTHER', Decimal('4032'))
('at_home', 'OTHER', Decimal('300'))
('TEACHER', 'HEALTH', Decimal('1957'))
('CIVIL SERVANT', 'POLICE', Decimal('326'))
('ADMIN', 'TEACHER', Decimal('5620'))
('HEALTH', 'ADMIN', Decimal('2086'))
('POLICE', 'OTHER', Decimal('437'))
('CRAFT', 'TRADER', Decimal('712'))
('BUSINESS', 'HEALTH', Decimal('1296'))
('FARMER', 'FARMER', Decimal('553'))

In [18]:
mycursor.execute('select Fjob,sum(Js12nd) from studentper group by Fjob ')
for x in mycursor:
    print(x)

('OTHER', Decimal('3647'))
('HEALTH', Decimal('1485'))
('POLICE', Decimal('326'))
('TEACHER', Decimal('3099'))
('ADMIN', Decimal('5643'))
('HEALTH RELATED', Decimal('384'))
('HOME ', Decimal('420'))
('TRADER', Decimal('351'))
('NURSE', Decimal('364'))
('SURVEYOR', Decimal('356'))
('CLEANER', Decimal('279'))
('FARMER', Decimal('293'))
('BUSINESS', Decimal('672'))

In [19]:
mycursor.execute('select avg(Js31st) from studentper  ')
for x in mycursor:
    print(x)

(Decimal('69.0648'),)

In [21]:
mycursor.execute('select avg(Js31st) from studentper where age = 11  ')
for x in mycursor:
    print(x)

(Decimal('66.7647'),)

In [22]:
mycursor.execute('select age,avg(Js32nd) from studentper group by age  ')
for x in mycursor:
    print(x)

(13, Decimal('71.3690'))
(12, Decimal('70.1304'))
(11, Decimal('68.0588'))
(14, Decimal('70.7719'))
(10, Decimal('68.5000'))
(15, Decimal('69.7143'))

In [28]:
mycursor.execute('select max(age) from studentper  ')
for x in mycursor:
    print(x)

(15,)

In [26]:
mycursor.execute('select max(age) from studentper where JS11st >= 85  ')
for x in mycursor:
    print(x)

(15,)

In [27]:
mycursor.execute('select Mjob,max(age) from studentper group by Mjob ')
for x in mycursor:
    print(x)

('OTHER', 15)
('at_home', 12)
('TEACHER', 14)
('CIVIL SERVANT', 12)
('ADMIN', 14)
('HEALTH', 15)
('POLICE', 14)
('CRAFT', 14)
('BUSINESS', 14)
('FARMER', 14)

In [29]:
mycursor.execute('select min(age) from studentper  ')
for x in mycursor:
    print(x)

(10,)

In [30]:
mycursor.execute('select Mjob,min(age) from studentper group by Mjob ')
for x in mycursor:
    print(x)

('OTHER', 12)
('at_home', 12)
('TEACHER', 11)
('CIVIL SERVANT', 10)
('ADMIN', 10)
('HEALTH', 11)
('POLICE', 13)
('CRAFT', 13)
('BUSINESS', 13)
('FARMER', 13)

In [34]:
mycursor.execute('select * from studentper limit 1 ')
for x in mycursor:
    print(x)

('M', 13, 'RURAL', 'GT3', 'T', 1, 0, 'OTHER', 'OTHER', 'mother', 3, 2, 'no', 4, 'no', 1, 'yes', 'yes', 'no', 68, 69, 70, 71, 72, 69, 72, 70)

In [35]:
mycursor.execute('select * from studentper order by age desc limit 1 ')
for x in mycursor:
    print(x)

('M', 15, 'URBAN', 'LE3', 'A', 1, 0, 'OTHER', 'ADMIN', 'mother', 1, 0, 'no', 5, 'yes', 2, 'yes', 'no', 'no', 66, 76, 87, 82, 85, 69, 68, 81)