In [19]:
import pymysql

In [20]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Gem28zel',
    database = 'greenwayschoolmanagementsystem'
)

In [21]:
mycursor.execute('alter table staffdetails add column staffaddress text not null')
mycursor.execute('show columns from staffdetails')
for x in mycursor:
    print(x)

OperationalError: (1060, "Duplicate column name 'staffaddress'")

In [4]:
mycursor.execute('alter table staffdetails add column staffnumber text not null after staffDOB')
mycursor.execute('show columns from staffdetails')
for x in mycursor:
    print(x)

('id', 'int', 'NO', 'PRI', None, '')
('staffName', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffdob', 'date', 'NO', '', None, '')
('staffnumber', 'text', 'NO', '', None, '')
('staffaddress', 'text', 'NO', '', None, '')

In [5]:
mycursor.execute('alter table staffdetails add column staffmoney text not null first')
mycursor.execute('show columns from staffdetails')
for x in mycursor:
    print(x)

('staffmoney', 'text', 'NO', '', None, '')
('id', 'int', 'NO', 'PRI', None, '')
('staffName', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffdob', 'date', 'NO', '', None, '')
('staffnumber', 'text', 'NO', '', None, '')
('staffaddress', 'text', 'NO', '', None, '')

In [6]:
mycursor.execute('alter table staffdetails drop staffmoney')
mycursor.execute('show columns from staffdetails')
for x in mycursor:
    print(x)

('id', 'int', 'NO', 'PRI', None, '')
('staffName', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(10)', 'NO', '', None, '')
('staffdob', 'date', 'NO', '', None, '')
('staffnumber', 'text', 'NO', '', None, '')
('staffaddress', 'text', 'NO', '', None, '')

In [15]:
mycursor.execute('alter table staffdetails modify column staffName varchar(225) not null')
mycursor.execute('show columns from staffdetails')
for x in mycursor:
    print(x)

OperationalError: (1054, "Unknown column 'staffName' in 'staffdetails'")

In [16]:
mycursor.execute('alter table staffdetails change column staffName  staffphonenumber varchar(225) not null')
mycursor.execute('show columns from staffdetails')
for x in mycursor:
    print(x)

OperationalError: (1054, "Unknown column 'staffName' in 'staffdetails'")

In [12]:
mycursor.execute('alter table staaffrecords rename to staffrecords')
mycursor.execute('show tables')
for x in mycursor:
    print(x)

ProgrammingError: (1146, "Table 'greenwayschoolmanagementsystem.staaffrecords' doesn't exist")

In [23]:
mycursor.execute('alter table staffrecords drop staffaddress')
mycursor.execute('show columns from staffrecords') 
for x in mycursor:
    print(x)

('ID', 'int', 'NO', 'PRI', None, '')
('StaffName', 'varchar(225)', 'NO', '', None, '')
('StaffGender', 'varchar(10)', 'NO', '', None, '')
('StaffDOB', 'date', 'NO', '', None, '')
('staffnumber', 'text', 'NO', '', None, '')
('staffphonenumber', 'varchar(225)', 'NO', '', None, '')

In [24]:
mycursor.execute('alter table staffrecords drop staffnumber')
mycursor.execute('show columns from staffrecords')
for x in mycursor:
    print(x)

('ID', 'int', 'NO', 'PRI', None, '')
('StaffName', 'varchar(225)', 'NO', '', None, '')
('StaffGender', 'varchar(10)', 'NO', '', None, '')
('StaffDOB', 'date', 'NO', '', None, '')
('staffphonenumber', 'varchar(225)', 'NO', '', None, '')

In [25]:
sql = 'insert into staffrecords(ID,StaffName,StaffGender,StaffDOB,staffphonenumber) values(%s,%s,%s,%s,%s)'
values = [(1, 'Abusomwan Nosa','Male','1999-04-19','08063373072'),
         (2, 'Emeka Onouha','Male','2000-04-25','08063339073'),
         (3, 'Idehen Courage','Male','1999-07-19','08017939720'),
         (4, 'Omogui Naomi','Female','1998-01-29','0704279174'),
         (5, 'Omoefe Joy','Female','1998-04-04','08123744920')]
mycursor.executemany(sql,values)
mydb.commit()

In [17]:
mycursor.execute('select * from staffrecords')
for x in mycursor:
    print(x)

ProgrammingError: (1146, "Table 'greenwayschoolmanagementsystem.staffrecords' doesn't exist")

In [27]:
mycursor.execute('update staffrecords set staffDOB = "1997-06-06" where ID = 2')
mycursor.execute('select * from staffrecords')
for x in mycursor:
    print(x)

(1, 'Abusomwan Nosa', 'Male', datetime.date(1999, 4, 19), '08063373072')
(2, 'Emeka Onouha', 'Male', datetime.date(1997, 6, 6), '08063339073')
(3, 'Idehen Courage', 'Male', datetime.date(1999, 7, 19), '08017939720')
(4, 'Omogui Naomi', 'Female', datetime.date(1998, 1, 29), '0704279174')
(5, 'Omoefe Joy', 'Female', datetime.date(1998, 4, 4), '08123744920')

In [28]:
mycursor.execute('delete from staffrecords where ID = 4')
mycursor.execute('select * from staffrecords')
for x in mycursor:
    print(x)

(1, 'Abusomwan Nosa', 'Male', datetime.date(1999, 4, 19), '08063373072')
(2, 'Emeka Onouha', 'Male', datetime.date(1997, 6, 6), '08063339073')
(3, 'Idehen Courage', 'Male', datetime.date(1999, 7, 19), '08017939720')
(5, 'Omoefe Joy', 'Female', datetime.date(1998, 4, 4), '08123744920')

In [29]:
mycursor.execute('select * from staffrecords where staffGender = "Male"')
for x in mycursor:
    print(x)

(1, 'Abusomwan Nosa', 'Male', datetime.date(1999, 4, 19), '08063373072')
(2, 'Emeka Onouha', 'Male', datetime.date(1997, 6, 6), '08063339073')
(3, 'Idehen Courage', 'Male', datetime.date(1999, 7, 19), '08017939720')