In [3]:
first_name = 'majesty'
integer_value = 24
floatvalue = '28.3'
booleanvalue = False
print(first_name)
print(integer_value)
print(floatvalue)
print(booleanvalue)

majesty
24
28.3
False

In [6]:
word = 'are\'nt they what we expected them to be'
print(word)
word2 = 'they\'re all good boys in general'
word3 = 'majesty is a good boy\nmajesty loves music'
print(word2)
print(word3)

are'nt they what we expected them to be
they're all good boys in general
majesty is a good boy
majesty loves music

In [9]:
lastname = 'james' 
print(lastname + ' '+word2)
surname = 'george'
print(surname +' '+first_name)
print(surname +' '+first_name +' '+lastname)
price1 = 2800
price2 = 32000
price3 = 40000
sales_report = 'I sold a shirt for {}, three pairs of trousers for {} and a pair of trousers for {}'
print(sales_report.format(price1,price2,price3))
print(f'I sold a shirt for {price3},three pairs of trousers for {price1}and a pair of trousers for{price2}')

james they're all good boys in general
george majesty
george majesty james
I sold a shirt for 2800, three pairs of trousers for 32000 and a pair of trousers for 40000
I sold a shirt for 40000,three pairs of trousers for 2800and a pair of trousers for32000

In [3]:
word1 = 'MAJESTY'
word2 = 'majesty'
word3 = 'majesty is a boy'
word4 = 'prosper'
print(word1.lower())
print(word2.upper())
print(word3.title())
print(word3.capitalize())
print(word3.split())
print(word4.strip())

majesty
MAJESTY
Majesty Is A Boy
Majesty is a boy
['majesty', 'is', 'a', 'boy']
prosper